<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
    <div class="row">
<section class="col-6">
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ID</th>
          <th scope="col">Duration</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let message of messages; let i = index" >
          <th scope="row">{{messages.length - i}}</th>
          <td>{{message.ID}}</td>
          <td>{{message.duration}}</td>

        </tr>

      </tbody>

    </table>
    </div>
</section>



    <section class="col-6" >
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="connectWs()" [disabled]="webSocket?.readyState !== webSocket?.CLOSED" >Click to Connect</button>
        <button *ngIf="webSocket" type="button" class="btn btn-secondary btn-lg btn-block" (click)="disconnectWs()" [disabled]="webSocket.readyState !== webSocket.OPEN">Click to Disconnect</button>
        <button *ngIf="webSocket" type="button" class="btn btn-danger btn-lg btn-block" (click)="deleteMsg()" [disabled]="!messages.length">Delete All Message</button>

    </section>

    </div>
    </div>
